<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008499814714-ancot2da860prjlnvquj17503ecmdilu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008499814714-ancot2da860prjlnvquj17503ecmdilu</string>
	<key>API_KEY</key>
	<string>AIzaSyB1578eZKjHNvbEcwdrDmeRH0cmJ8BeBYk</string>
	<key>GCM_SENDER_ID</key>
	<string>1008499814714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robert.enachescu.Licenta-Enachescu-Robert</string>
	<key>PROJECT_ID</key>
	<string>ios-map-kit-licenta</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-map-kit-licenta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008499814714:ios:45fc2aa76f1337a538a003</string>
	<key>DATABASE_URL</key>
	<string>https://ios-map-kit-licenta.firebaseio.com</string>
</dict>
</plist>